<h2><%= @item.title%></h2>
<p><%= @item.description %></p>
<p><%= time_ago_in_words(@item.created_at) %> ago</p>
<div class="col-md-4 col-md-offset-5">
	<%= link_to "Back ", root_path%> |
	<%= link_to " Edit", edit_item_path(@item.id)%> |
	<%= link_to " Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
</div>		
	

