<!DOCTYPE html>
<html>
  <head>
    <title>Hiptime</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/49249ec5dc.js"></script>


  </head>

  <body style="background-image : url('https://d3ptyyxy2at9ui.cloudfront.net/dda912df6e4bbc8dfe5df34384b755d1.jpg')">
  	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	  	<div class="navbar-header">
	  		<%= link_to "Hiptime", root_path, class: "navbar-brand" %>
	  	</div>


	    <ul class="nav navbar-nav">
	    	<%if user_signed_in? %>
	    		<li><%= link_to "Add Item", new_item_path, class: "navbar-link" %></li>
	    	<% end %>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	    	<% if current_user.present? %>
	    		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	    	<% else %>
	    		<li><%= link_to "Sign In", new_user_session_path %></li>
	    		<li><%= link_to "Sign Up", new_user_registration_path %></li>
	    	<% end %>
	    </ul>

	  </div>
	</nav>
   

   <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


	<div class="container">
	    
	    <%= yield %>	
	</div>
    
  	
  </body>
</html>
